<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Quản lý tiêm chủng</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/css/cssdb/simple-line-icons.css}">
  <link rel="stylesheet" th:href="@{/css/cssdb/flag-icon.min.css}">
  <link rel="stylesheet" th:href="@{/css/cssdb/vendor.bundle.base.css}">
  <link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/css/cssdb/sweetalert2.min.css}">

  <link rel="stylesheet" th:href="@{/css/cssdb/style.css}"/>
  <link href="https://vnvc.vn/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
</head>
</html>