<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/fragments :: html_head"/>
<head>
  <title>
    Trang Người Dùng
  </title>
</head>
<style>
  .overwite {
    text-align: center;
    padding: 0px 11em;
  }

  .table-bordered {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .table-bordered {
    border: 2px solid #5f5e5e;

  }
</style>
<body>
<div th:replace="/layout/fragments :: body-banner"/>
<header th:replace="/layout/fragments :: body-header-done"/>
<div class="container overwite">
  <h1 style="text-align: center">Cám ơn bạn <b><span th:utext="${userInfo.customer_name}"></span></b> đã đăng ký tiêm
    vaccine!</h1>
  <br><br>
  <table class="table table-bordered ">
    <tr>
      <th style="text-align: center;font-size: 23px;">Thông tin</th>
      <th style="text-align: center;font-size: 23px;">Kết quả</th>
    </tr>
    <tr>
      <td>Họ và tên</td>
      <td th:text="${userInfo.customer_name}"></td>
    </tr>
    <tr>
      <td>Số Chứng minh nhân dân</td>
      <td th:text="${userInfo.CMND}"></td>
    </tr>
    <tr>
      <td>Tuổi</td>
      <td  style="color: red;font-style: italic; font-weight: bold;"
           th:if="${userInfo.age < 16 || userInfo.age >65}"
           th:text="${userInfo.age} +' tuổi'"></td>
      <td
              th:if="${userInfo.age >= 16 && userInfo.age <=65}"
              th:text="${userInfo.age} +' tuổi'"></td>

    </tr>
    <tr class="bg-danger">
      <div th:if="${userInfo.isInjection == 1}">
        <td>Tình trạng tiêm chủng</td>
        <td>Đã tiêm lần 1 thành công!</td>
      </div>
      <div th:if="${userInfo.isInjection == 0}">
        <td>Kết quả đăng ký</td>
        <td th:if="${userInfo.healthy_status == 1 || userInfo.healthy_status == 2}"
            th:text="'Thành công'"></td>
        <td th:if="${userInfo.healthy_status == 3}"
            th:text="'Thất bại'"></td>
      </div>

    </tr>
    <tr>
      <td>Tình trạng sức khoẻ</td>
      <td th:if="${userInfo.healthy_info != null}" th:text="${userInfo.healthy_info}"></td>
    </tr>
    <tr>
      <td>Ngày tiêm chủng</td>
      <td><b><span style=" font-style: italic;"
                   th:if="${userInfo.date_vaccine != null}"
                   th:text="${userInfo.date_vaccine}">---</span></b></td>
    </tr>
    <tr>
      <td>Giờ tiêm chủng</td>
      <td><b><span style=" font-style: italic;" th:if="${userInfo.time_vaccine != null}"
                   th:text="${userInfo.time_vaccine}">---</span></b></td>

    </tr>
    <tr>
      <td>Địa điểm tiêm chủng</td>
      <td ><b><span style=" font-style: italic;"th:if="${userInfo.getDestination() != null}" th:text="${userInfo.getDestination().destination_name}"></span></b></td>
    </tr>


  </table>
  <h3 style="text-align: center;font-style: italic; ">Mọi thông tin xin liên hệ qua
    <span style="color: red">036 550 3545 </span> để được tư vấn cụ thể!</h3>
  <br><br>
</div>


<footer th:replace="/layout/fragments :: body-footer"/>
</body>
</html>